__pycache__/
*.py[cod]
.venv/
venv/
.env
.DS_Store
.ipynb_checkpoints/

outputs/*
!outputs/.gitkeep

data/*
!data/.gitkeep
!data/README.md

tmp_unpack/
cache/
runs/
*.log

*.wav
*.mp3
*.flac
*.m4a
*.aiff
*.aif
